#root {
  width: 100%;
  border: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.ProseMirror {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  font-family: 'Montserrat', Montserrat, system-ui, sans-serif !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #BFA980;
  font-family: 'Montserrat', Montserrat, system-ui, sans-serif;
  opacity: 0.7;
  font-size: 1.1rem;
}
 .ProseMirror:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}